body {
    background-color: #0b101b;
}

.navbar {
    /* background-color: #f2f2f2; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    background: none;


    padding-top: 1.3rem;
}


.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background: none;

}

.nav-links li {
    display: block;
    background: none;

}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 20px;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
    border-radius: 4px;
    z-index: 1;
    height: 10rem;
}

.dropdown-content li {
    display: block;
    padding-top: 1.5rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button a.get {
    text-decoration: none;
    color: #fff;
    background-color: #460BF9;
    border: 1px solid #460BF9;
    border-radius: 6px;
    padding: 12px 27px;
    transition: transform 0.4s ease !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    /* transition: box-shadow 0.3s ease; */
}

a.get:hover {
    transform: translateY(-8px) !important;
    box-shadow: 0px 0px 8px blue;
}


a.sign-in {
    background-color: #181E29;
    text-decoration: none;
    color: #fff;
    border: 1px solid #54585F;
    border-radius: 4px;
    margin-right: .5rem;
    transition: transform 0.3s ease;
    padding: 12px 25px;


}


.sign-in:hover {
    background-color: #460BF9;
    transform: translateY(-5px);
}


/* ---------------------------------------------------------------------------------home screen css---------------------------------- */

.first-text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 3.5rem;
    background-color: #0b101b;
    margin-bottom: -35px;
    font-weight: bold;
}


.first1-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -35px;
    font-size: 0px;


}

.boost {
    color: #460BF9;
}

.your {
    color: purple;
}

.with {
    color: purple;
}

.demos {
    color: goldenrod;
}

.Iam {

    font: normal 70px/80px Montserrat, sans-serif;
    color: #999;
    display: flex;
    background-color: #0b101b;
    flex-direction: column;
    justify-content: center;
}


.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    /* top: 40px; */
}

.Iam .innerIam {
    display: inline-block;
    color: white;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;


    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}




.expla {
    display: flex;
    justify-content: center;
    text-align: center;



}

.expla p {
    color: #A7AAB1;
    /* width: 29rem; */
    font-size: 22px;
}

.suitable {
    /* padding-left: 6rem; */
    padding-top: 10rem;
}

.get-it {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.started {
    height: 51px;
    width: 203px;
    color: white;
    background-color: #460BF9;
    border: 1px solid #460BF9;
    border-radius: 6px;
    font-weight: 600;
    font-size: medium;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.started:hover {
    box-shadow: 0px 0px 8px blue;
    transform: translateY(-5px);

}


.video {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}


.video video {
    box-shadow: 2px 2px 2px 2px blue;

}


/* -------------------------------------------------------box heading css ------------------------------------------- */

.headings {
    display: flex;
    justify-content: center;
}

.featured h1 {
    color: white;
    font-size: 2.3rem;
    padding-top: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --------------------------------------box css starts here -------------------------------- */


.container {
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;

}

.box {
    height: 146px;
    width: 388px;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 7px rgba(7, 10, 14, 0.15);
    transition: transform 0.3s;
    padding: 0.3rem;
    ;
    display: flex;
    justify-content: center;

    align-items: center;
}


.box:hover {
    transform: translateY(-5px);
}

.left {
    background-color: #181e29;
}

.middle {
    background-color: #181e29;
}

.right {
    background-color: #181e29;
}



.content {
    display: flex;


}

.content img {
    padding-bottom: 4rem;
    padding-right: 1rem;

}


.heading {
    font-size: 20px;

    color: white;
    /* Add other styles for the heading */
}

.text {
    color: #A7AAB1;
}



/* -------------------------------------------------------------------market teams css -------------------------------------------------------------- */






.market-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.market-teams .all-teams-detail h1 {
    color: white;
    font-size: 56px;
    font-weight: 900;
    line-height: 1em;
    margin-top: 11rem;
    font-family: Arial, Helvetica, sans-serif;
}

.market-teams .all-teams-detail h3 {
    font-size: 60px;
    font-weight: bolder;
    line-height: 1em;
    margin-top: -10px;
    ;
    color: #460BF9;

}

.market-teams .all-teams-detail p {
    color: #A7AAB1;
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
}



.catagory {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.7rem;
    margin-top: 3rem;

}

.catagory .marketings {
    background-color: #460BF9;
    color: white;
    padding: 12px 27px 12px 27px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;



}

.catagory .cat {
    background-color: #181E29;
    color: white;
    padding: 13px 25px 13px 25px;
    border: 1px solid #353C4A;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.catagory .cat:hover {
    background-color: #460BF9;
}



.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin-top: 10rem;
    padding-left: 7rem;
    /* padding-right: 2rem; */
    color: white;
}

.flex-item-left {
    padding: 10px;
    display: flex;
    flex: 50%;
    align-items: center;
    /* justify-content: center; */
}

.flex-item-right {

    display: flex;
    padding: 10px;
    align-items: center;
    /* justify-content: center; */
    flex: 50%;
    color: white;
}




.container1 {

    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */

}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 39px;
    margin-bottom: 0;
}

ul {


    margin-bottom: 20px;
    padding-left: 2rem;
}

li {
    margin-bottom: 10px;
    font-size: medium;

}

.flex-container .learn {
    padding: 15px 24px 15px 24px;
    background-color: #181E29;
    color: #fff;
    border: none;
    display: flex;
    justify-content: flex-start;
    border-radius: 6px;
    border: 1px solid #353C4A;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    width: 80px;
}

.marketings1 {
    /* text-align: left; */
    color: white;
    /* padding: 12px 27px 12px 27px; */
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;


    cursor: pointer;
    text-decoration: none;
}

.marketings1 img {
    padding-right: 11px;
}

.learn:hover {
    background-color: #460BF9;
}

.flex-container .tour {
    border: 2px rgba(255, 255, 255, .1);
    border-radius: 20px;
}


.headings2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    text-align: center;
}

.headings2 h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 1em;
    font-family: sans-serif;
}
.headings2 h2{
    color: #122aff;
    font-size: 42px;
    font-weight: 900;
    line-height: 0.5em;
    font-family: sans-serif;
}
.headings2 h2 .cla{
    color: rgb(231, 129, 231);
}

.headings2 h2 .demo1{
 color: rgb(251, 198, 66);
}
.headings2 p{
    color: #A7AAB1;
    font-family: Circularstd,sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}





.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 8rem;
    padding-right: 7rem;
    gap: 2rem;

    margin-top: 5rem;
}

.image-grid img {
    /* width: 100%; */
    /* height: auto; */
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: inline-block;
    transition: transform 0.3s;
    transition: box-shadow 0.3s ease;
}
.image-grid img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}